In [1]:
import QUANTAXIS as QA
import random
market = QA.QA_Market()
user = QA.QA_Portfolio()
# 创建两个account
# 这里是创建一个资产组合,然后在组合里面创建两个account  你可以想象成股票里面的两个策略账户
# 然后返回的是这个账户的id
a_1 = user.new_account()

market.start()
market.connect(QA.RUNNING_ENVIRONMENT.BACKETEST)

# 打印market
print(market)


"""
登陆到这个交易前置上 把你刚才的两个账户
"""
# 登陆交易
market.login(QA.BROKER_TYPE.BACKETEST, a_1, user.get_account(a_1))




for date in QA.QA_util_get_trade_range('2017-01-01','2017-01-31'):
    for code in ['000001', '000002', '000004', '000007']:
        if random.random()<0.3:
            market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.BUY, market_type=QA.MARKET_TYPE.STOCK_CN,
                                data_type=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
        else:
            try:
                print(user.get_account(a_1).sell_available.get(code,0))
                market.insert_order(account_id=a_1, amount=1000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time=date, code=code,
                                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_CN,
                                    data_type=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)
            except:
                pass
    market._settle(QA.BROKER_TYPE.BACKETEST)
        
while True:
    if market.clear():
        break
print(user.get_account(a_1).history)
print(user.get_account(a_1).cash)
print(user.get_account(a_1).cash_available)
print(user.get_account(a_1).history_table)
print(user.get_account(a_1).hold)

QUANTAXIS>> start QUANTAXIS
QUANTAXIS>> Selecting the Best Server IP of TDX

Bad REPSONSE 218.75.126.9

QUANTAXIS>> === The BEST SERVER ===
 stock_ip 115.238.90.165 future_ip 61.152.107.141
QUANTAXIS>> Welcome to QUANTAXIS, the Version is remake-version
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````##````##
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````####`
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2017``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

< QA_MARKET with ['backtest'] Broker >
< QA_Order datetime:2017-01-03 09:31:00 code:000001 price:9.16 towards:1 btype:0x01 order_id:Order_jwd6abQM account:Acc_Q2nTwdDW status:300 >===== SETTLED None =====

===== SETTLED None =====
1000.0
0< QA_Order datetime:2017-01-05 09:31:00 code:000001 price:9.17 towards:-1 btype:0x01 order_id:Order_MEZmuAS6 account:Acc_Q2nTwdDW status:300 >

0
0
===== SETTLED None =====
0.0
0< QA_Order datetime:2017-01-06 09:31:00 code:000002 price:20.64 towards:1 btype:0x01 order_id:Order_QPNR2bhr account:Acc_Q2nTwdDW status:300 >

===== SETTLED None =====< QA_Order datetime:2017-01-06 09:31:00 code:000007 price:25.45 towards:1 btype:0x01 order_id:Order_6MLOD9sg account:Acc_Q2nTwdDW status:300 >

0.0
1000.0
1000.0< QA_Order datetime:2017-01-09 09:31:00 code:000002 price:20.66 towards:-1 btype:0x01 order_id:Order_Bp2t8SfF account:Acc_Q2nTwdDW status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-09 09:31:00 code:000004 price:43.01 towards:1 btype:0x01 order_id:Order_tJfQDUKj account:Acc_Q2nTwdDW status:300 >0.0

< QA_Order datetime:2017-01-09 09:31:00 code:000007 price:25.09 towards:-1 btype:0x01 order_id:Order_W6iIOYJo account:Acc_Q2nTwdDW status:300 >0.0

===== SETTLED None =====< QA_Order datetime:2017-01-10 09:31:00 code:000004 price:43.25 towards:1 btype:0x01 order_id:Order_0M7pY4RQ account:Acc_Q2nTwdDW status:300 >

0.0
< QA_Order datetime:2017-01-10 09:31:00 code:000007 price:24.79 towards:1 btype:0x01 order_id:Order_Zud0fmbn account:Acc_Q2nTwdDW status:300 >0.0

1000.0
1000.0< QA_Order datetime:2017-01-11 09:31:00 code:000004 price:42.45 towards:-1 btype:0x01 order_id:Order_rE5DgiGz account:Acc_Q2nTwdDW status:300 >

===== SETTLED None =====
< QA_Order datetime:2017-01-11 09:31:00 code:000007 price:24.85 towards:-1 btype:0x01 order_id:Order_Eudq2tNY account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-12 09:31:00 code:000001 price:9.15 towards:1 btype:0x01 order_id:Order_UuMhpE5B account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> code 000002 date 2017-01-12 price None order_model close amount_model by_amount

1000.0
0.0< QA_Order datetime:2017-01-12 09:31:00 code:000004 price:42.05 towards:-1 btype:0x01 order_id:Order_rUENH54P account:Acc_Q2nTwdDW status:300 >

===== SETTLED None =====
1000.0
0.0< QA_Order datetime:2017-01-13 09:31:00 code:000001 price:9.16 towards:-1 btype:0x01 order_id:Order_Al9JbVa8 account:Acc_Q2nTwdDW status:300 >

0.0
< QA_Order datetime:2017-01-13 09:31:00 code:000004 price:41.0 towards:1 btype:0x01 order_id:Order_JQ14OW2N account:Acc_Q2nTwdDW status:300 >===== SETTLED None =====

0.0
0.0
1000.0
0.0< QA_Order datetime:2017-01-16 09:31:00 code:000004 price:38.26 towards:-1 btype:0x01 order_id:Order_I47Er3in account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-16 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
0.0
0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-17 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
0.0< QA_Order datetime:2017-01-18 09:31:00 code:000004 price:37.15 towards:1 btype:0x01 order_id:Order_vxPaKuZb account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-18 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0< QA_Order datetime:2017-01-19 09:31:00 code:000002 price:20.6 towards:1 btype:0x01 order_id:Order_YFTPt5jH account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

< QA_Order datetime:2017-01-19 09:31:00 code:000004 price:35.69 towards:-1 btype:0x01 order_id:Order_H21ocZ5q account:Acc_Q2nTwdDW status:300 >

QUANTAXIS>> code 000007 date 2017-01-19 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
1000.0
0.0< QA_Order datetime:2017-01-20 09:31:00 code:000002 price:20.68 towards:-1 btype:0x01 order_id:Order_FMDtsGn9 account:Acc_Q2nTwdDW status:300 >

0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-20 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0
< QA_Order datetime:2017-01-23 09:31:00 code:000002 price:20.74 towards:1 btype:0x01 order_id:Order_SxeuKmRh account:Acc_Q2nTwdDW status:300 >
0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-23 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0< QA_Order datetime:2017-01-24 09:31:00 code:000001 price:9.27 towards:1 btype:0x01 order_id:Order_H79EP6Ld account:Acc_Q2nTwdDW status:300 >

0.0
< QA_Order datetime:2017-01-24 09:31:00 code:000002 price:20.69 towards:-1 btype:0x01 order_id:Order_w9WXpNQu account:Acc_Q2nTwdDW status:300 >0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-24 price None order_model close amount_model by_amount

===== SETTLED None =====
1000.0
0.0< QA_Order datetime:2017-01-25 09:31:00 code:000001 price:9.26 towards:-1 btype:0x01 order_id:Order_Ot6U0EoW account:Acc_Q2nTwdDW status:300 >

0.0
0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-25 price None order_model close amount_model by_amount

===== SETTLED None =====
0.0
0.0< QA_Order datetime:2017-01-26 09:31:00 code:000002 price:20.68 towards:1 btype:0x01 order_id:Order_A3ZBxmfE account:Acc_Q2nTwdDW status:300 >

0.0

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000007 date 2017-01-26 price None order_model close amount_model by_amount

===== SETTLED None =====
[['2017-01-03 15:00:00', '000001', 9.16, 1000.0, 'Order_jwd6abQM', 'Trade_fKcr852C', 13.74], ['2017-01-05 15:00:00', '000001', 9.17, -1000.0, 'Order_MEZmuAS6', 'Trade_pYBEK34V', 13.754999999999999], ['2017-01-06 15:00:00', '000002', 20.64, 1000.0, 'Order_QPNR2bhr', 'Trade_JptrFeHZ', 30.96], ['2017-01-06 15:00:00', '000007', 25.45, 1000.0, 'Order_6MLOD9sg', 'Trade_JR67v3IS', 38.175], ['2017-01-09 15:00:00', '000002', 20.66, -1000.0, 'Order_Bp2t8SfF', 'Trade_HpGnldrh', 30.99], ['2017-01-09 15:00:00', '000004', 43.01, 1000.0, 'Order_tJfQDUKj', 'Trade_dh86K9BZ', 64.515], ['2017-01-09 15:00:00', '000007', 25.09, -1000.0, 'Order_W6iIOYJo', 'Trade_8S2Xdtxn', 37.635000000000005], ['2017-01-10 15:00:00', '000004', 43.25, 1000.0, 'Order_0M7pY4RQ', 'Trade_vYNXDuZz', 64.875], ['2017-01-10 15:00:00', '000007', 24.79, 1000.0, 'Order_Zud0fmbn', 'Trade_h5J4GRy2', 37.185], ['2017-01-11 15:00:00', '000004', 42.45, -1000.0, 'Order_rE5DgiGz', 'Trade_vyHzgTRU', 63.67500000000001], ['2017-01-11 15:00:00', '000007', 24.85, -1000.0, 'Order_Eudq2tNY', 'Trade_b5BeyLqv', 37.275000000000006], ['2017-01-12 15:00:00', '000001', 9.15, 1000.0, 'Order_UuMhpE5B', 'Trade_EbJUv9e1', 13.725000000000001], ['2017-01-12 15:00:00', '000004', 42.05, -1000.0, 'Order_rUENH54P', 'Trade_nxK4hc3N', 63.07499999999999], ['2017-01-13 15:00:00', '000001', 9.16, -1000.0, 'Order_Al9JbVa8', 'Trade_3O7hElGr', 13.74], ['2017-01-13 15:00:00', '000004', 41.0, 1000.0, 'Order_JQ14OW2N', 'Trade_QBMpVfcL', 61.5], ['2017-01-16 15:00:00', '000004', 38.26, -1000.0, 'Order_I47Er3in', 'Trade_icX9ICOR', 57.38999999999999], ['2017-01-18 15:00:00', '000004', 37.15, 1000.0, 'Order_vxPaKuZb', 'Trade_wISYX6cB', 55.724999999999994], ['2017-01-19 15:00:00', '000002', 20.6, 1000.0, 'Order_YFTPt5jH', 'Trade_NXrbQzsY', 30.900000000000002], ['2017-01-19 15:00:00', '000004', 35.69, -1000.0, 'Order_H21ocZ5q', 'Trade_8hqs3FXm', 53.535], ['2017-01-20 15:00:00', '000002', 20.68, -1000.0, 'Order_FMDtsGn9', 'Trade_DtUirlEm', 31.02], ['2017-01-23 15:00:00', '000002', 20.74, 1000.0, 'Order_SxeuKmRh', 'Trade_ejsQa7Si', 31.11], ['2017-01-24 15:00:00', '000001', 9.27, 1000.0, 'Order_H79EP6Ld', 'Trade_Wt0QfGco', 13.905], ['2017-01-24 15:00:00', '000002', 20.69, -1000.0, 'Order_w9WXpNQu', 'Trade_gnFQ4rJb', 31.035000000000004], ['2017-01-25 15:00:00', '000001', 9.26, -1000.0, 'Order_Ot6U0EoW', 'Trade_VCo24tPj', 13.889999999999999], ['2017-01-26 15:00:00', '000002', 20.68, 1000.0, 'Order_A3ZBxmfE', 'Trade_6UgTK5DO', 31.02]]
[1000000, 990826.26, 999982.505, 979311.545, 953823.37, 974452.38, 931377.865, 956430.23, 913115.355, 888288.1699999999, 930674.4949999999, 955487.2199999999, 946323.4949999999, 988310.4199999999, 997456.6799999999, 956395.1799999999, 994597.7899999999, 957392.065, 936761.1649999999, 972397.6299999999, 993046.6099999999, 972275.4999999999, 962991.5949999999, 983650.5599999998, 992896.6699999998, 972185.6499999998]
972185.6499999998
               datetime    code  price  amount        order_id  \
0   2017-01-03 15:00:00  000001   9.16  1000.0  Order_jwd6abQM
1   2017-01-05 15:00:00  000001   9.17 -1000.0  Order_MEZmuAS6
2   2017-01-06 15:00:00  000002  20.64  1000.0  Order_QPNR2bhr
3   2017-01-06 15:00:00  000007  25.45  1000.0  Order_6MLOD9sg
4   2017-01-09 15:00:00  000002  20.66 -1000.0  Order_Bp2t8SfF
5   2017-01-09 15:00:00  000004  43.01  1000.0  Order_tJfQDUKj
6   2017-01-09 15:00:00  000007  25.09 -1000.0  Order_W6iIOYJo
7   2017-01-10 15:00:00  000004  43.25  1000.0  Order_0M7pY4RQ
8   2017-01-10 15:00:00  000007  24.79  1000.0  Order_Zud0fmbn
9   2017-01-11 15:00:00  000004  42.45 -1000.0  Order_rE5DgiGz
10  2017-01-11 15:00:00  000007  24.85 -1000.0  Order_Eudq2tNY
11  2017-01-12 15:00:00  000001   9.15  1000.0  Order_UuMhpE5B
12  2017-01-12 15:00:00  000004  42.05 -1000.0  Order_rUENH54P
13  2017-01-13 15:00:00  000001   9.16 -1000.0  Order_Al9JbVa8
14  2017-01-13 15:00:00  000004  41.00  1000.0  Order_JQ14OW2N
15  2017-01-16 15:00:00  000004  38.26 -1000.0  Order_I47Er3in
16  2017-01-18 15:00:00  000004  37.15  1000.0  Order_vxPaKuZb
17  2017-01-19 15:00:00  000002  20.60  1000.0  Order_YFTPt5jH
18  2017-01-19 15:00:00  000004  35.69 -1000.0  Order_H21ocZ5q
19  2017-01-20 15:00:00  000002  20.68 -1000.0  Order_FMDtsGn9
20  2017-01-23 15:00:00  000002  20.74  1000.0  Order_SxeuKmRh
21  2017-01-24 15:00:00  000001   9.27  1000.0  Order_H79EP6Ld
22  2017-01-24 15:00:00  000002  20.69 -1000.0  Order_w9WXpNQu
23  2017-01-25 15:00:00  000001   9.26 -1000.0  Order_Ot6U0EoW
24  2017-01-26 15:00:00  000002  20.68  1000.0  Order_A3ZBxmfE

          trade_id  commission_fee
0   Trade_fKcr852C          13.740
1   Trade_pYBEK34V          13.755
2   Trade_JptrFeHZ          30.960
3   Trade_JR67v3IS          38.175
4   Trade_HpGnldrh          30.990
5   Trade_dh86K9BZ          64.515
6   Trade_8S2Xdtxn          37.635
7   Trade_vYNXDuZz          64.875
8   Trade_h5J4GRy2          37.185
9   Trade_vyHzgTRU          63.675
10  Trade_b5BeyLqv          37.275
11  Trade_EbJUv9e1          13.725
12  Trade_nxK4hc3N          63.075
13  Trade_3O7hElGr          13.740
14  Trade_QBMpVfcL          61.500
15  Trade_icX9ICOR          57.390
16  Trade_wISYX6cB          55.725
17  Trade_NXrbQzsY          30.900
18  Trade_8hqs3FXm          53.535
19  Trade_DtUirlEm          31.020
20  Trade_ejsQa7Si          31.110
21  Trade_Wt0QfGco          13.905
22  Trade_gnFQ4rJb          31.035
23  Trade_VCo24tPj          13.890
24  Trade_6UgTK5DO          31.020
code
000001       0.0
000002    1000.0
000004       0.0
000007       0.0
Name: amount, dtype: float64

In [2]:
user.get_account(a_1).history_table

,datetime,code,price,amount,order_id,trade_id,commission_fee
0,2017-01-03 15:00:00,000001,9.16,1000.0,Order_jwd6abQM,Trade_fKcr852C,13.740
1,2017-01-05 15:00:00,000001,9.17,-1000.0,Order_MEZmuAS6,Trade_pYBEK34V,13.755
2,2017-01-06 15:00:00,000002,20.64,1000.0,Order_QPNR2bhr,Trade_JptrFeHZ,30.960
3,2017-01-06 15:00:00,000007,25.45,1000.0,Order_6MLOD9sg,Trade_JR67v3IS,38.175
4,2017-01-09 15:00:00,000002,20.66,-1000.0,Order_Bp2t8SfF,Trade_HpGnldrh,30.990
5,2017-01-09 15:00:00,000004,43.01,1000.0,Order_tJfQDUKj,Trade_dh86K9BZ,64.515
6,2017-01-09 15:00:00,000007,25.09,-1000.0,Order_W6iIOYJo,Trade_8S2Xdtxn,37.635
7,2017-01-10 15:00:00,000004,43.25,1000.0,Order_0M7pY4RQ,Trade_vYNXDuZz,64.875
8,2017-01-10 15:00:00,000007,24.79,1000.0,Order_Zud0fmbn,Trade_h5J4GRy2,37.185
9,2017-01-11 15:00:00,000004,42.45,-1000.0,Order_rE5DgiGz,Trade_vyHzgTRU,63.675
10,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_Eudq2tNY,Trade_b5BeyLqv,37.275
11,2017-01-12 15:00:00,000001,9.15,1000.0,Order_UuMhpE5B,Trade_EbJUv9e1,13.725
12,2017-01-12 15:00:00,000004,42.05,-1000.0,Order_rUENH54P,Trade_nxK4hc3N,63.075
13,2017-01-13 15:00:00,000001,9.16,-1000.0,Order_Al9JbVa8,Trade_3O7hElGr,13.740
14,2017-01-13 15:00:00,000004,41.00,1000.0,Order_JQ14OW2N,Trade_QBMpVfcL,61.500
15,2017-01-16 15:00:00,000004,38.26,-1000.0,Order_I47Er3in,Trade_icX9ICOR,57.390
16,2017-01-18 15:00:00,000004,37.15,1000.0,Order_vxPaKuZb,Trade_wISYX6cB,55.725
17,2017-01-19 15:00:00,000002,20.60,1000.0,Order_YFTPt5jH,Trade_NXrbQzsY,30.900
18,2017-01-19 15:00:00,000004,35.69,-1000.0,Order_H21ocZ5q,Trade_8hqs3FXm,53.535
19,2017-01-20 15:00:00,000002,20.68,-1000.0,Order_FMDtsGn9,Trade_DtUirlEm,31.020
20,2017-01-23 15:00:00,000002,20.74,1000.0,Order_SxeuKmRh,Trade_ejsQa7Si,31.110
21,2017-01-24 15:00:00,000001,9.27,1000.0,Order_H79EP6Ld,Trade_Wt0QfGco,13.905
22,2017-01-24 15:00:00,000002,20.69,-1000.0,Order_w9WXpNQu,Trade_gnFQ4rJb,31.035
23,2017-01-25 15:00:00,000001,9.26,-1000.0,Order_Ot6U0EoW,Trade_VCo24tPj,13.890
24,2017-01-26 15:00:00,000002,20.68,1000.0,Order_A3ZBxmfE,Trade_6UgTK5DO,31.020

In [3]:
r=QA.QA_Risk(user.get_account(a_1))

In [4]:
user.get_account(a_1).hold

code
000001       0.0
000002    1000.0
000004       0.0
000007       0.0
Name: amount, dtype: float64

In [5]:
user.get_account(a_1).trade

code                 000001  000002  000004  000007
datetime
2017-01-03 15:00:00  1000.0     0.0     0.0     0.0
2017-01-05 15:00:00 -1000.0     0.0     0.0     0.0
2017-01-06 15:00:00     0.0  1000.0     0.0  1000.0
2017-01-09 15:00:00     0.0 -1000.0  1000.0 -1000.0
2017-01-10 15:00:00     0.0     0.0  1000.0  1000.0
2017-01-11 15:00:00     0.0     0.0 -1000.0 -1000.0
2017-01-12 15:00:00  1000.0     0.0 -1000.0     0.0
2017-01-13 15:00:00 -1000.0     0.0  1000.0     0.0
2017-01-16 15:00:00     0.0     0.0 -1000.0     0.0
2017-01-18 15:00:00     0.0     0.0  1000.0     0.0
2017-01-19 15:00:00     0.0  1000.0 -1000.0     0.0
2017-01-20 15:00:00     0.0 -1000.0     0.0     0.0
2017-01-23 15:00:00     0.0  1000.0     0.0     0.0
2017-01-24 15:00:00  1000.0 -1000.0     0.0     0.0
2017-01-25 15:00:00 -1000.0     0.0     0.0     0.0
2017-01-26 15:00:00     0.0  1000.0     0.0     0.0

In [6]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03  1000.0     0.0     0.0     0.0
2017-01-05     0.0     0.0     0.0     0.0
2017-01-06     0.0  1000.0     0.0  1000.0
2017-01-09     0.0     0.0  1000.0     0.0
2017-01-10     0.0     0.0  2000.0  1000.0
2017-01-11     0.0     0.0  1000.0     0.0
2017-01-12  1000.0     0.0     0.0     0.0
2017-01-13     0.0     0.0  1000.0     0.0
2017-01-16     0.0     0.0     0.0     0.0
2017-01-18     0.0     0.0  1000.0     0.0
2017-01-19     0.0  1000.0     0.0     0.0
2017-01-20     0.0     0.0     0.0     0.0
2017-01-23     0.0  1000.0     0.0     0.0
2017-01-24  1000.0     0.0     0.0     0.0
2017-01-25     0.0     0.0     0.0     0.0
2017-01-26     0.0  1000.0     0.0     0.0

In [7]:
market.insert_order(account_id=a_1, amount=2000, price=None, amount_model=QA.AMOUNT_MODEL.BY_AMOUNT, time='2017-01-27', code='000001',
                    order_model=QA.ORDER_MODEL.CLOSE, towards=QA.ORDER_DIRECTION.SELL, market_type=QA.MARKET_TYPE.STOCK_CN,
                    data_type=QA.FREQUENCE.DAY, broker_name=QA.BROKER_TYPE.BACKETEST)

QUANTAXIS>> MARKET WARING: SOMEING WRONG WITH ORDER

QUANTAXIS>> code 000001 date 2017-01-27 price None order_model close amount_model by_amount

In [8]:
    market._settle(QA.BROKER_TYPE.BACKETEST)

===== SETTLED None =====

In [9]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03  1000.0     0.0     0.0     0.0
2017-01-05     0.0     0.0     0.0     0.0
2017-01-06     0.0  1000.0     0.0  1000.0
2017-01-09     0.0     0.0  1000.0     0.0
2017-01-10     0.0     0.0  2000.0  1000.0
2017-01-11     0.0     0.0  1000.0     0.0
2017-01-12  1000.0     0.0     0.0     0.0
2017-01-13     0.0     0.0  1000.0     0.0
2017-01-16     0.0     0.0     0.0     0.0
2017-01-18     0.0     0.0  1000.0     0.0
2017-01-19     0.0  1000.0     0.0     0.0
2017-01-20     0.0     0.0     0.0     0.0
2017-01-23     0.0  1000.0     0.0     0.0
2017-01-24  1000.0     0.0     0.0     0.0
2017-01-25     0.0     0.0     0.0     0.0
2017-01-26     0.0  1000.0     0.0     0.0

In [10]:
data=QA.QA_fetch_stock_day_adv(['000001','000002','000004','000007'],'2017-01-03','2017-01-26')

In [11]:
md=data.pivot('close')
md

code        000001  000002  000004  000007
date
2017-01-03    9.16   20.73   44.45   26.10
2017-01-04    9.16   20.85   44.70   26.47
2017-01-05    9.17   20.93   44.44   26.24
2017-01-06    9.13   20.64   43.96   25.45
2017-01-09    9.15   20.66   43.01   25.09
2017-01-10    9.15   20.58   43.25   24.79
2017-01-11    9.14   20.40   42.45   24.85
2017-01-12    9.15     NaN   42.05   24.61
2017-01-13    9.16   21.81   41.00   23.81
2017-01-16    9.14   21.00   38.26     NaN
2017-01-17    9.15   20.80   37.37     NaN
2017-01-18    9.17   20.92   37.15     NaN
2017-01-19    9.18   20.60   35.69     NaN
2017-01-20    9.22   20.68   36.48     NaN
2017-01-23    9.22   20.74   37.56     NaN
2017-01-24    9.27   20.69   38.63     NaN
2017-01-25    9.26   20.61   38.25     NaN
2017-01-26    9.33   20.68   38.29     NaN

In [12]:
user.get_account(a_1).history_table

,datetime,code,price,amount,order_id,trade_id,commission_fee
0,2017-01-03 15:00:00,000001,9.16,1000.0,Order_jwd6abQM,Trade_fKcr852C,13.740
1,2017-01-05 15:00:00,000001,9.17,-1000.0,Order_MEZmuAS6,Trade_pYBEK34V,13.755
2,2017-01-06 15:00:00,000002,20.64,1000.0,Order_QPNR2bhr,Trade_JptrFeHZ,30.960
3,2017-01-06 15:00:00,000007,25.45,1000.0,Order_6MLOD9sg,Trade_JR67v3IS,38.175
4,2017-01-09 15:00:00,000002,20.66,-1000.0,Order_Bp2t8SfF,Trade_HpGnldrh,30.990
5,2017-01-09 15:00:00,000004,43.01,1000.0,Order_tJfQDUKj,Trade_dh86K9BZ,64.515
6,2017-01-09 15:00:00,000007,25.09,-1000.0,Order_W6iIOYJo,Trade_8S2Xdtxn,37.635
7,2017-01-10 15:00:00,000004,43.25,1000.0,Order_0M7pY4RQ,Trade_vYNXDuZz,64.875
8,2017-01-10 15:00:00,000007,24.79,1000.0,Order_Zud0fmbn,Trade_h5J4GRy2,37.185
9,2017-01-11 15:00:00,000004,42.45,-1000.0,Order_rE5DgiGz,Trade_vyHzgTRU,63.675
10,2017-01-11 15:00:00,000007,24.85,-1000.0,Order_Eudq2tNY,Trade_b5BeyLqv,37.275
11,2017-01-12 15:00:00,000001,9.15,1000.0,Order_UuMhpE5B,Trade_EbJUv9e1,13.725
12,2017-01-12 15:00:00,000004,42.05,-1000.0,Order_rUENH54P,Trade_nxK4hc3N,63.075
13,2017-01-13 15:00:00,000001,9.16,-1000.0,Order_Al9JbVa8,Trade_3O7hElGr,13.740
14,2017-01-13 15:00:00,000004,41.00,1000.0,Order_JQ14OW2N,Trade_QBMpVfcL,61.500
15,2017-01-16 15:00:00,000004,38.26,-1000.0,Order_I47Er3in,Trade_icX9ICOR,57.390
16,2017-01-18 15:00:00,000004,37.15,1000.0,Order_vxPaKuZb,Trade_wISYX6cB,55.725
17,2017-01-19 15:00:00,000002,20.60,1000.0,Order_YFTPt5jH,Trade_NXrbQzsY,30.900
18,2017-01-19 15:00:00,000004,35.69,-1000.0,Order_H21ocZ5q,Trade_8hqs3FXm,53.535
19,2017-01-20 15:00:00,000002,20.68,-1000.0,Order_FMDtsGn9,Trade_DtUirlEm,31.020
20,2017-01-23 15:00:00,000002,20.74,1000.0,Order_SxeuKmRh,Trade_ejsQa7Si,31.110
21,2017-01-24 15:00:00,000001,9.27,1000.0,Order_H79EP6Ld,Trade_Wt0QfGco,13.905
22,2017-01-24 15:00:00,000002,20.69,-1000.0,Order_w9WXpNQu,Trade_gnFQ4rJb,31.035
23,2017-01-25 15:00:00,000001,9.26,-1000.0,Order_Ot6U0EoW,Trade_VCo24tPj,13.890
24,2017-01-26 15:00:00,000002,20.68,1000.0,Order_A3ZBxmfE,Trade_6UgTK5DO,31.020

In [14]:
user.get_account(a_1).cash_table

                       cash             datetime        date
datetime
2017-01-03 15:00:00  990826  2017-01-03 15:00:00  2017-01-03
2017-01-05 15:00:00  999983  2017-01-05 15:00:00  2017-01-05
2017-01-06 15:00:00  979312  2017-01-06 15:00:00  2017-01-06
2017-01-06 15:00:00  953823  2017-01-06 15:00:00  2017-01-06
2017-01-09 15:00:00  974452  2017-01-09 15:00:00  2017-01-09
2017-01-09 15:00:00  931378  2017-01-09 15:00:00  2017-01-09
2017-01-09 15:00:00  956430  2017-01-09 15:00:00  2017-01-09
2017-01-10 15:00:00  913115  2017-01-10 15:00:00  2017-01-10
2017-01-10 15:00:00  888288  2017-01-10 15:00:00  2017-01-10
2017-01-11 15:00:00  930674  2017-01-11 15:00:00  2017-01-11
2017-01-11 15:00:00  955487  2017-01-11 15:00:00  2017-01-11
2017-01-12 15:00:00  946323  2017-01-12 15:00:00  2017-01-12
2017-01-12 15:00:00  988310  2017-01-12 15:00:00  2017-01-12
2017-01-13 15:00:00  997457  2017-01-13 15:00:00  2017-01-13
2017-01-13 15:00:00  956395  2017-01-13 15:00:00  2017-01-13
2017-01-16 15:00:00  994598  2017-01-16 15:00:00  2017-01-16
2017-01-18 15:00:00  957392  2017-01-18 15:00:00  2017-01-18
2017-01-19 15:00:00  936761  2017-01-19 15:00:00  2017-01-19
2017-01-19 15:00:00  972398  2017-01-19 15:00:00  2017-01-19
2017-01-20 15:00:00  993047  2017-01-20 15:00:00  2017-01-20
2017-01-23 15:00:00  972275  2017-01-23 15:00:00  2017-01-23
2017-01-24 15:00:00  962992  2017-01-24 15:00:00  2017-01-24
2017-01-24 15:00:00  983651  2017-01-24 15:00:00  2017-01-24
2017-01-25 15:00:00  992897  2017-01-25 15:00:00  2017-01-25
2017-01-26 15:00:00  972186  2017-01-26 15:00:00  2017-01-26

In [15]:
user.get_account(a_1).daily_cash

                       cash             datetime        date
datetime
2017-01-03 15:00:00  990826  2017-01-03 15:00:00  2017-01-03
2017-01-05 15:00:00  999983  2017-01-05 15:00:00  2017-01-05
2017-01-06 15:00:00  953823  2017-01-06 15:00:00  2017-01-06
2017-01-09 15:00:00  956430  2017-01-09 15:00:00  2017-01-09
2017-01-10 15:00:00  888288  2017-01-10 15:00:00  2017-01-10
2017-01-11 15:00:00  955487  2017-01-11 15:00:00  2017-01-11
2017-01-12 15:00:00  988310  2017-01-12 15:00:00  2017-01-12
2017-01-13 15:00:00  956395  2017-01-13 15:00:00  2017-01-13
2017-01-16 15:00:00  994598  2017-01-16 15:00:00  2017-01-16
2017-01-18 15:00:00  957392  2017-01-18 15:00:00  2017-01-18
2017-01-19 15:00:00  972398  2017-01-19 15:00:00  2017-01-19
2017-01-20 15:00:00  993047  2017-01-20 15:00:00  2017-01-20
2017-01-23 15:00:00  972275  2017-01-23 15:00:00  2017-01-23
2017-01-24 15:00:00  983651  2017-01-24 15:00:00  2017-01-24
2017-01-25 15:00:00  992897  2017-01-25 15:00:00  2017-01-25
2017-01-26 15:00:00  972186  2017-01-26 15:00:00  2017-01-26

In [16]:
user.get_account(a_1).daily_hold

code        000001  000002  000004  000007
date
2017-01-03  1000.0     0.0     0.0     0.0
2017-01-05     0.0     0.0     0.0     0.0
2017-01-06     0.0  1000.0     0.0  1000.0
2017-01-09     0.0     0.0  1000.0     0.0
2017-01-10     0.0     0.0  2000.0  1000.0
2017-01-11     0.0     0.0  1000.0     0.0
2017-01-12  1000.0     0.0     0.0     0.0
2017-01-13     0.0     0.0  1000.0     0.0
2017-01-16     0.0     0.0     0.0     0.0
2017-01-18     0.0     0.0  1000.0     0.0
2017-01-19     0.0  1000.0     0.0     0.0
2017-01-20     0.0     0.0     0.0     0.0
2017-01-23     0.0  1000.0     0.0     0.0
2017-01-24  1000.0     0.0     0.0     0.0
2017-01-25     0.0     0.0     0.0     0.0
2017-01-26     0.0  1000.0     0.0     0.0

In [17]:
data=user.get_account(a_1).daily_hold

In [18]:
market_data=QA.QA_fetch_stock_day_adv(list(data.columns),data.index[0],data.index[-1])

In [19]:
(market_data.to_qfq().pivot('close')*data).sum(axis=1)+user.get_account(a_1).daily_cash.set_index('date').cash

c:\quantaxis\QUANTAXIS\QAData\data_fq.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  bfq_data['if_trade'] = 1

date
2017-01-03    999986
2017-01-04       NaN
2017-01-05    999983
2017-01-06    999913
2017-01-09    999440
2017-01-10    999578
2017-01-11    997937
2017-01-12    997460
2017-01-13    997395
2017-01-16    994598
2017-01-17       NaN
2017-01-18    994542
2017-01-19    992998
2017-01-20    993047
2017-01-23    993015
2017-01-24    992921
2017-01-25    992897
2017-01-26    992866
dtype: object